body{
    background-color: #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.style{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #222;
    color: white;   
}
.navbar_center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
}
ul li{
    list-style: none;
    margin: 10px;
}